@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hover-spin:hover {
  animation: spin 2.5s linear infinite;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Webkit (Chrome, Safari) */
}
